<!-- New job_type form -->
<div class="modal fade" id="userPasswordModal" tabindex="-1" role="dialog" aria-labelledby="userPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userPasswordModalLabel">Nuevo tipo de trabajo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/control_panel/update_user_password" method="post">
        <div class="modal-body">
          <%= em_input 'text', 'password', 'Nueva contraseña', '' %>
          <input type="hidden" name="id" value="" id="clicked_user_id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success text-shadow btn-shadow border border-dark border-top-0 border-right-0">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('a.user_password_link').click(function(){
    $('input#clicked_user_id').val($(this).attr('data-id'));
  });
</script>