<!-- New job_type form -->
<div class="modal fade" id="exportUpdatesModal" tabindex="-1" role="dialog" aria-labelledby="exportUpdatesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exportUpdatesModalLabel">Exportador de novedades</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/export/employee_updates" method="post">
        <div class="modal-body">
          <% previous_month = Date.new(Date.today.year, Date.today.month, 1) - 2 %>
          <% previous_month = Date.new(previous_month.year, previous_month.month, 1) %>
          <% params[:start_date] = previous_month.to_s %>
          <%= em_input 'date', 'start_date', 'Fecha Inicio', '' %>
          <% params[:end_date] = Date.today.to_s %>
          <%= em_input 'date', 'end_date', 'Fecha Fin', '' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success text-shadow btn-shadow border border-dark border-top-0 border-right-0">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>